{% macro render(category_id, available_languages) %}
<button
  id="dropdownDefaultButton"
  data-dropdown-toggle="dropdown_lang"
  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  type="button"
>
  Edit
  <i class="ml-2 fa-solid fa-caret-down"></i>
</button>

<!-- Dropdown menu -->
<div
  id="dropdown_lang"
  class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
>
  <ul
    class="py-2 text-sm text-gray-700 dark:text-gray-200"
    aria-labelledby="dropdownDefaultButton"
  >
    <li id="primary_lang_list">
      {% for lang in available_languages %}
      <button
        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white w-full"
        data-drawer-target="drawer-right-example"
        data-drawer-show="drawer-right-example"
        data-drawer-placement="right"
        aria-controls="drawer-right-example"
        hx-get="/manager/menu/categories/{{category_id}}/{{lang.id}}"
        hx-target="#sidebar_editor"
        type="button"
      >
        {{ lang.name }}
      </button>
      {% endfor %}
    </li>
  </ul>
</div>
{% endmacro %}
