{% macro show_picker(primary_language_id, user_selected_languages) %}
    <div id="primary_lang_dropdown" class="flex justify-between">
      <p>Primary Customer Language </p>
<button
  id="dropdownDefaultButton"
  data-dropdown-toggle="dropdown_lang"
  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  type="button"
>
  Choose
      <i class="ml-2 fa-solid fa-caret-down"></i>
</button>

<!-- Dropdown menu -->
<div
  id="dropdown_lang"
  class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
>
  <ul
    class="py-2 text-sm text-gray-700 dark:text-gray-200"
    aria-labelledby="dropdownDefaultButton"
  >
    <li id="primary_lang_list">
      {% for lang in user_selected_languages %} 
        <button
            hx-post="/manager/config/primary_language/{{ lang.id }}" hx-target="#primary_lang_list" hx-swap="outerHTML"
            {%- if primary_language_id == lang.id -%}
            class="block px-4 py-2 bg-primary-500 text-white font-bold w-full">
            ** {{ lang.name }} **
            {% else %}
            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white w-full">
            {{ lang.name }}
            {%- endif -%}
        </button>
      {% endfor %}
    </li>
  </ul>
</div>
</div>
{% endmacro %}
