{%- import "manager/page_buttons/language_selection_button.html" as language_selection_button  -%}
{%- import "manager/macros/primary_language_selector.html" as primary_language_selector  -%}
{%- import "manager/macros/language_selection_dropdown.html" as language_selection_dropdown  -%}
{% extends "manager/manager_base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="pb-2 flex flex-col items-start">
<h5 class="text-2xl">Web Configuration</h5>
  <div class="flex flex-col w-full justify-start gap-2">
  <div id="menu_item_container">
    <p class="pl-1 font-bold">Primary Language</p>
      <div class="flex flex-col gap-2">
        {% call language_selection_dropdown::render(user_languages) %}
      </div>
    </div>
  </div>
<div id="detail_response_message"></div>

</div>
</div>
{% endblock %}
