{%- import "manager/toggle_buttons/enable_button.html" as enable_button -%}
{%- import "manager/toggle_buttons/disable_button.html" as disable_button -%}

{% macro render(id, lang_title, enabled) %}
<div
  id="language_button{{ id }}"
  class="w-full flex flex-col p-1 bg-gray-50 rounded-md"
>
  <div class="w-full flex justify-between items-center">
    <div class="flex flex-col items-start">
      <div class="font-bold">{{ lang_title }}</div>
        {%- if enabled -%}
          <div class="text-opacity-80">Published</div>
        {% else %}
          <div class="text-opacity-80">Draft</div>
        {% endif %}
    </div>
    <div></div>
  </div>
  <div class="w-full flex justify-end items-center gap-2">
    {% let lang_id = id %} <!-- -->
      {%- if enabled -%} <!-- -->
       {% call disable_button::render(format!("/manager/config/language/disable/{}", lang_id.to_string()), "Disable".to_string()) %} <!-- -->
      {% else %} <!-- -->
       {% call enable_button::render(format!("/manager/config/language/enable/{}", lang_id.to_string()), "Enable".to_string()) %} <!-- -->
      {% endif %} <!-- -->
    </button>
  </div>

</div>

{% endmacro %}
