<form class="mb-6" id="detail_editor" hx-post="/manager/menu/categories" hx-target="#post_message" hx-swap="innerHTML">
  <div  class="">
    <input type="hidden" name="id" value="{{ id }}"/>
    <input type="hidden" name="lang" value="{{ lang }}"/>
    <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
    <input type="text" id="title" name="title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
      value="{{ title }}"
      placeholder="Breakfast, Desert, Drinks..." required></input>
    <div class="flex justify-end mt-2">
      <button type="submit" class="text-white justify-center flex items-center bg-blue-700 hover:bg-blue-800 w-full focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
        <i class="fa-solid fa-floppy-disk mr-2 text-lg"></i>
        Save</button>
    </div>
    <div id="post_message" class="flex justify-center w-full">
    </div>
</form>
