  <form class="mb-6" id="detail_editor" hx-post="/manager/details" hx-target="#post_message" hx-swap="innerHTML">
  <div  class="">
    <input type="hidden" name="id" value="{{ id }}"/>
    <input type="hidden" name="lang" value="{{ lang }}"/>
    <label for="blurb" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your blurb {{ lang_name.to_string() }}</label>
    <textarea required name="blurb" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your introduction here...">{{ blurb }}</textarea>
    <div class="flex justify-end mt-2">
      <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <i class="fa-solid fa-floppy-disk mr-2 text-lg"></i>
        Save
      </button>
    </div>
    <div id="post_message"></div>
  </form>
