    <li id="primary_lang_list">
      {% for lang in user_selected_languages %} 
        <button
            hx-post="/manager/account/primary_language/{{ lang.id }}" hx-target="#primary_lang_list" hx-swap="outerHTML"
            {%- if primary_language_id == lang.id -%}
            class="block px-4 py-2 bg-primary-500 text-white w-full"
            {% else %}
            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white w-full"
            {%- endif -%}
            >{{ lang.name }}
        </button>
      {% endfor %}
    </li>
