{%- import "manager/page_buttons/language_selection_button.html" as language_selection_button  -%}
{% extends "manager/manager_base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="pb-2 flex flex-col items-start">
<h5 class="text-2xl">Language Editor</h5>
  <div class="flex flex-col w-full justify-start gap-2">  
    <div id="menu_item_container">
      <div class="flex flex-col gap-2">
        {% for language in languages %}
          {% call language_selection_button::render(language.lang_id, language.code, language.title, language.user_lang_id, language.published) %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div id="detail_response_message"></div>
</div>
{% endblock %}
