{% macro render(user_languages) %}
<div id="language_selection_dropdown_container">
  <button
    id="dropdownDefault"
    data-dropdown-toggle="dropdown"
    class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
    type="button"
  >
    Select
    <i class="ml-2 fa-solid fa-caret-down"></i>
  </button>
  <!-- Dropdown menu -->
  <div
    id="dropdown"
    class="z-[999] hidden p-3 bg-white rounded-lg shadow w-72 dark:bg-gray-700"
  >
    <ul
      class="py-2 text-sm text-gray-700 dark:text-gray-200"
      aria-labelledby="dropdownDefaultButton"
    >
      {% for lang in user_languages %}
      <li id="primary_lang_list">
        <button
          class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white w-full text-center"
          hx-post="/manager/config/primary_language/{{lang.code}}"
          hx-target="#language_selection_dropdown_container"
          type="button"
        >
          {%if lang.primary %}
          <span class="font-bold"> {{ lang.title }} </span>
          {% else %}
          <span> {{ lang.title }} </span>
          {% endif %}
        </button>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endmacro %}

  <div id="language_selection_dropdown_container">
    <button
      id="dropdownDefault"
      data-dropdown-toggle="dropdown"
      class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
      type="button"
    >
      Select
      <i class="ml-2 fa-solid fa-caret-down"></i>
    </button>
    <!-- Dropdown menu -->
    <div
      id="dropdown"
      class="z-[999] hidden p-3 bg-white rounded-lg shadow w-72 dark:bg-gray-700"
    >
      <ul
        class="py-2 text-sm text-gray-700 dark:text-gray-200"
        aria-labelledby="dropdownDefaultButton"
      >
        {% for lang in user_languages %}
        <li id="primary_lang_list">
          <button
            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white w-full text-center"
            hx-post="/manager/config/primary_language/{{lang.code}}"
            hx-target="#language_selection_dropdown_container"
            type="button"
          >
            {%if lang.primary %}
            <span class="font-bold"> {{ lang.title }} </span>
            {% else %}
            <span> {{ lang.title }} </span>
            {% endif %}
          </button>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
