{%- import "presenter/components/menu_tab.html" as scope -%} {% extends "presenter/presenter_base.html" %} {%
block title %}{{ title }}{% endblock %} {% block content %}
<!-- Header -->
<div
  class="text-sm w-full bg-primary-content text-base-100 flex items-center flex-col md:flex-row md:justify-between md:px-4 font-light min-h-12 gap-4 py-4"
>
  <div>C.C. Street Market La Tejita</div>
  <!-- social -->
  <div class="flex gap-4">
    <a class="text-lg" href="https://www.instagram.com/sunnycafetf"><i class="fa-brands fa-instagram"></i></a>
    <a class="text-lg" href="mailto:latejita@sunny-cafe.es"><i class="fa-solid fa-envelope"></i></a>
    <a class="text-lg" href="tel:+34 607 395 044"><i class="fa-solid fa-phone"></i></a>
  </div>
  <div>Open Wed-Sun: 8am - 4pm</div>
</div>

<div id="menu" class="px-4 flex flex-col justify-center items-center w-full">
  <div class="pt-12 pb-4">
    <h5
      class="bg-primary-content text-base-100 font-label uppercase py-[0.1rem] px-2"
    >
      Menu
    </h5>
  </div>
  <div class="flex w-full justify-center">
    <div class="px-4 flex justify-center items-center w-full max-w-4xl">
      <div role="tablist" class="tabs w-full">
        {% for tab in menu_tabs %} {% call scope::tab(tab.name,
        tab.menu_items.clone()) %} {% endfor %}
     </div>
    </div>
  </div>
</div>
<div
  class="text-sm w-full bg-primary-content text-base-100 flex items-center flex-col md:flex-row md:justify-between md:px-4 font-light min-h-32 gap-4 py-4"
>
  <div class="w-full flex flex-col justify-center items-center pt-8 pb-16">
    <h1 class="text-center text-8xl font-logo font-thin">SC</h1>
    <p class="text-center">Fine Food, Fine Drinks, Fine Service</p>
  </div>
</div>
{% endblock %}
